.custiom-section-bg-container{

    background-color: hsla(0, 0%, 0%, 1);
    min-height: 100vh;
}
.heading{

    color: hsla(0, 0%, 100%, 1);
    size: 48px;

}
.custom-product-content-alignment{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 90%;
    max-height: 400px;
}
.image-container{
    width: 50%;

}